.menu-lateral{ /*Definindo a lateral fixa para o menu*/
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: purple;
    padding-top: 40px;
}
.menu-lateral{ /*Removendo os marcadores e atribuindo 
    espaçamento padrão da lista*/
    list-style: none;
    padding: 0;
}
.menu-lateral a{ /*Estilizando os itens do Menu*/
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

a:hover{
    color:white;
    font-size: 20px;
    border: 1px solid black;
}